body{
    background-color: white;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.app{
    width: 50%;
    height: 99vh;
    overflow-y: scroll;
    margin: 0 auto;
    border: 1px solid black;
    background-color: #1F7A8C;
}

.app::-webkit-scrollbar {
    display: none;
}

.header{
    width: 100%;
    height: 100px;
    background-color: #053C5E;
    margin-bottom: 10px;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.clock{
    height: 50px;
    background-color: #053C5E;
    color: white;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
}

.filter{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 5px 5px black;
}

.filter-panel{
    margin: 0;
    height: 49px;
    box-sizing: border-box;
}

.filter-panel li{
    background-color: #A31621;
    border: 1px solid white;
    color: white;
    float: left;
    list-style: none;
    padding: 0 15px;
    font-size: 20px;
    height: 50px;
    padding-top: 12px;
    box-sizing: border-box;
    float: right;
}

.filter-panel li:not(:last-child) {
    border-right: none;
}

.filter-panel li:hover {
    background-color: #650000;
}

.filter-panel .filter-btn-active{
    background-color: #650000;
}


.tasks-desk{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.task{
    transition: all 0.3s ease-in-out;
    background-color: #628CAB;
    width: 45%;
    height: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 5px 10px black;
    font-size: 1.5em;
}

.task:hover{
    transform: scale(1.1);
}

.task-done{
    background-color: #409C59;
}

.add-task-block{
    height: 100px;
    width: 50%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    pointer-events: none;
    margin-bottom: 15px;
}

.task-info{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80%;
}

.add-task-button{
    height: 89px;
    width: 90px;
    border-radius: 50%;
    background-color: #A31621;
    color: white;
    border: 1px solid white;
    text-align: center;
    font-size: 80px;
    margin: 5px auto 0 auto;
    z-index: 2;
    pointer-events: all;
    box-shadow: 0 5px 10px black;
}

.top-task-panel, .bottom-task-panel{
    display: flex;
    height: 50%;
    justify-content: space-around;
    /* padding: 7px 0 0 7px; */
    box-sizing: border-box;
    align-items: flex-end;
}

.top-task-panel{
    align-items: center;
}

.is-time-limited{
    height: 50%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15% 0 0 0;
    text-align: center;
    font-size: .7em;
}

.is-important{
    height: 50%;
    background-color: rgb(0, 0, 0, 0);
    text-align: center;
    color: red;
    font-size: 0.7em;
}

.name-of-task{
    width: 80%;
    padding: 7px 0 0 7px;
    overflow: hidden;
}

.details-btn, .delete-btn{
    width: 60%;
    height: 70%;
    border-radius: 0 0 0 15px;
    background-color: royalblue/*  #91B4D1 */;
    color: black;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 1em;
    font-weight: bolder;
    visibility: hidden;
}

.delete-btn{
    width: 40%;
    padding-top: 8px;
    color: #A31621;
    border-radius: 0 0 15px 0;
    background: linear-gradient(to top, #A31621, #628CAB);
}

.details-btn{
    background: linear-gradient(to top, royalblue, #628CAB);
}
/* .details-btn:hover{
    background-color: royalblue;
} */

.delete-btn:hover{
    color: black;
    /* background-color: #DB222A; */
}

.modal{
    width: 300px;
    height: 300px;
    background-color: goldenrod;
    visibility: hidden;
    position: fixed;
    margin: 5% auto;
    border-radius: 15px;
    box-shadow: 0 5px 10px black;
    z-index: 3;
}

.modal-details{
    width: 300px;
    height: 30%;
    visibility: hidden;
    position: fixed;
    margin: 10% auto;
    z-index: 2;
}

.details-top-panel{
    display: flex;
    border-radius: 15px 15px 0 0;
    height: 30%;
    background-color: #DAA520;
}

.details-content{
    height: 80%;
    background-color:#F6EB57;
    padding: 10px 5px 5px 10px;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
}

.time-limited-details{
    height: 100%;
    width: 75%;
    padding: 18px 5px 15px 15px;
    box-sizing: border-box;
    font-size: 20px;
}

.close-details{
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 35px;
}

.modal-name-important, .modal-date-limited{
    display: flex;
    justify-content: space-around;
}

.important, .limited{
    width: 15%;
    height: 40px;
    text-align: center;
    background-color: #E0BB5E;
    margin-top: 15px;
    border-radius: 15px;
    padding-top: 10px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px black;
}

.important-active, .limited-active{
    background-color: #053C5E;
    box-shadow: unset;
}

#name-input, #details-input, #modal-time-limited{
    width: 80%;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin-top: 15px;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

#name-input:focus{
    border: none;
}

.add-task{
    width: 60%;
    height: 80px;
    background-color: #053C5E;
    text-align: center;
    margin: 20px auto;
    color: white;
    font-size: 35px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 10px black;
}

#details-input{
    width: 97%;
}

.details{
    display: flex;
    justify-content: center;
}

